* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    gap: 25px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

button {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 30px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    min-width: 250px;
}

button:hover {
    transform: scale(1.2);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}